[2019-07-25 17:36] vyedin opened #1 "Map of campaign events"
Here’s our events API Documentation: https://github.com/mobilizeamerica/api

For example, to fetch all upcoming events nationally, request https://api.mobilize.us/v1/organizations/1316/events?timeslot_start=gte_now

[2019-07-25 17:41] vyedin opened #2 "Create icon for Tech for Warren"
Create an icon we can use for this github org and for community.elizabethwarren.com. Should use the EW colors:

Liberty green: #B7E4CF
red: #b61b28
blue: #232444

[2019-07-25 17:43] vyedin opened #3 "Microsite generator"
Often in the day-to-day of the campaign, there's a big news moment that spurs a lot of interest, and it's worthwhile to spin up a quick microsite to capture enthusiasm generated by the moment. Generally the need in these sites is very simple (1-2 pages of a little content/video/imagery; signup form; donate button). It'd be nice to automate away as much of the drudgery as necessary - even up to and

[2019-07-26 01:52] egiurleo commented on #1
Hey, @vyedin! Is there a proposed UI for this? Like maybe a Google Maps page populated with this data? Or a simple site that lists locations and dates?

[2019-07-26 02:14] shaisachs commented on #1
Heh I think the answer is "yes". :) Basically I think it's up to us to try something out and see if it sticks, and maybe iterate from there. But what comes to mind for me is a simple page with a Google map embedded, that lets you search by say zipcode/radius and perhaps event category.

[2019-07-26 17:08] john-osullivan commented on #3
What stack is the campaign on?  Would a Terraform solution standing on top of AWS get the job done, or would it be better to go lower-infra and use a platform like Zeit Now?

[2019-07-26 17:23] john-osullivan opened #4 "Show Me The Plan: Collection of Interactive Visualizations & Calculators"
Update: If the project below sounds interesting, come over to [`techforwarren/policyboard`](https://github.com/techforwarren/policyboard)!  [Submit issues with ideas](https://github.com/techforwarren/policyboard/issues/new), [help gather research](https://github.com/techforwarren/policyboard/tree/master/research), [find good new datasets](https://github.com/techforwarren/datasets), and let's make

[2019-07-26 17:38] john-osullivan commented on #1
Sounds good to me @shaisachs ! I guess the most basic implementation just has `zip`, `radius`, and `dateRange`, then plugs those API results as Markers into a Google Map embed -- then we could style and improve from there?

[Marker API](https://developers.google.com/maps/documentation/javascript/markers)
[Sample Client Code for Embedding Multiple Markers](https://wrightshq.com/playground/placing-m

[2019-07-28 00:04] jasonkalmeida commented on #4
Really love this idea John, and a lot of the detailed points you've listed. I especially agree with the general idea of figuring out ways to better communicate the impact of these plans to real people.

Couple thoughts:
1) While I think the "board" page's design will be incredibly important, I really think the detail page design is critical to this whole thing - if it visually comes off as approac

[2019-07-28 00:48] jasonkalmeida commented on #1
This is a cool idea, just a couple clarifying thoughts/questions.

**The base use case is a user should be able to come to the page, and based on a zip code, get a geo map of events in the area.**
- Should the zip code be actively provided by the user? Or should we be using [Geolocation API](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API) or IP approximation? This decision could

[2019-07-30 04:37] john-osullivan commented on #4
Hey @jasonkalmeida !

Agreed that the detail page is going to be crucial here!  It's going to be tricky balancing repeatable layouts with making sure each issue is presented as well as possible.  Totally with you that we've gotta keep it from being overwhelming.  I've got a few different specific thoughts, but my general idea is that it'll start from voters' lived experience of the problem, move t

[2019-07-30 16:14] john-osullivan commented on #3
Or taking a different approach, how code-savvy are the people in the digital organizing operation?  Would it be best to hook something up to a CMS like Wordpress, or do people want the flexibility of actually writing the code?

If they want code, then we could set up a CLI which creates the boilerplate, infra, and domain with something like `create-warren-app issue-of-the-day this-issue-matters.co

[2019-08-01 03:35] Hucxley commented on #4
Probably the easiest way to do this is to use something like [VueJS ](https://vuejs.org/)for the templating engine,  Combine it with Material UI with [Vuetify](https://vuetifyjs.com/en/), and the front end gets much easier.

[This ](https://bluffcitysongbook.com)is a simple proof of concept I did for a local soccer team supporters' group that gives a rough idea of what can be done with a relativel

[2019-08-01 16:38] john-osullivan commented on #4
Hey @Hucxley , glad to hear you're on board!  This is definitely going to be a web app.  There are a few decisions to be made with the stack, but I think those are just implementation details.  My personal preference is toward React and a fully static deployment, but I think talking frameworks right now is putting the cart before the horse.  I think you may be underestimating the complexity in the

[2019-08-01 16:47] Hucxley commented on #4
That's certainly true, as well. A reusable template front end is a reusable
template front end, whatever way you go with it.  I've never really enjoyed
working with React, so I don't know how much I can help there, but it would
also be important to be able to easily update the policy summaries,
examples, etc. in case they change or add new plans.

So, I don't know how much of it I would make stati

[2019-08-01 18:33] kbavandi opened #5 "Create interactive Bots to engage users and answer their questions"
Just for disclosure, I am promoting some of the tools I have developed and the examples are to shed light on what is possible. Everything can be customized.

Our tools make it easy to curate digital links, comment on them, tag them and publish them into a content library.

My idea is simple. Let's curate all of Warren's posts on Social Media and her comments, organize and categorize them, then use

[2019-08-02 21:27] john-osullivan commented on #4
Sounds good!  `create-react-app` bundles all the assets such that the output bundle will always show the updated content, even if the app is hosted on a CDN.  React does occasionally feel clunky, but the ecosystem is just so strong.  Related, have you worked with Typescript before?  I enjoy using it, but will hold off if you haven't.

I'm going to make a repo and lay out the boilerplate this weeke

[2019-08-02 21:30] john-osullivan commented on #5
Super cool premise!  I guess the next step here would be gathering and tagging the source data, yeah?  What sort of tags do you think make sense?

[2019-08-03 14:02] shaisachs commented on #1
Hi there, sounds like some great questions! @john-osullivan - I think your filters make a lot of sense and mesh well with the [Mobilize America API](https://github.com/mobilizeamerica/api#list-all-public-events), which is basically our source of truth for event listings. And yeah I think something like Open Street Map (which I'm not familiar with but is apparently a good alternative to Google Maps

[2019-08-03 14:06] shaisachs commented on #1
In terms of a rudimentary plan (if you will), I think there are really three elements to be pulled together:

1. Basic HTML/CSS template for displaying a map, form filters, and event links
2. Javascript for transforming form input into a Mobilize America API call.
3. Javascript for rendering the API response into a map and list of events

Does that make sense? Am I missing anything? One thing that

[2019-08-03 14:12] shaisachs commented on #3
Part of me thinks that a good way to start is not to create a generator, but rather to create a simple microsite for a specific event. So for example, build a really simple microsite focused on the September debates. But design it in such a way that it could easily be "templatized" and reused for other events. This approach is sort of the lean startup approach, if you will - start with the simples

[2019-08-03 14:16] shaisachs commented on #4
So excited for the progress here! Can I help by creating a techforwarren repo where you can push this stuff into? Or will that only get in the way?

[2019-08-05 06:55] jasonkalmeida commented on #4
Would love to help figure out the information page/cards and contribute! And I’m down to use React.

One point where I think React might be helpful here is if we want to personalize any data for a reader based on zip code/income/etc. One potential aspect of this is we could possibly show people how much these plans will impact incomes/taxes, so they can see the reality of the policies. Obviously j

[2019-08-05 15:55] john-osullivan commented on #4
Please do!  I'd rather have the code live here than start out in my own repository.

[2019-08-06 07:25] shaisachs commented on #1
I just now created the event map repo - https://github.com/techforwarren/eventmap - and I'll plan to enable github pages on the `master` branch using a `docs` folder. Sound good?

[2019-08-06 07:25] shaisachs commented on #4
Awesome! Here you go... https://github.com/techforwarren/policyboard

[2019-08-06 17:53] john-osullivan commented on #3
I can work with that!  Like the idea of making something that looks good and has all the core content cut out to a template.  My first guess would be that we could have special files for all the key content, so creating a new one within same template is just a matter of updating some Markdown text.

Do you wanna make the repo within here so everyone can see it and potentially help out?  Happy to j

[2019-08-06 23:03] kbavandi commented on #5
I usually assign two types of tags. Micro and Macro.
Micro tags define the content of the post, like the economy, global warming, jobs, etc.
Macro tags are there to promote certain ideas. For example, in Trump's case, he made some "[Campaign Promises](https://www.kbucket.com/eontransform/us-politics-2016/us-elections/election-2016/?kbtag=campaign+promises)", or has conducted himself in ways that p

[2019-08-06 23:42] Hucxley commented on #5
FYI we have a Reddit bot in progress that responds to requests for Sen. Warren's plans with the summary from her issues website and a link to the detailed articles on Medium.  I still don't know how I feel about aggregating content (thank you for your disclosure), mainly because I haven't seen it in action for the positive things about Sen. Warren's campaign.  Anyone can run a campaign on what eve

[2019-08-07 12:34] shaisachs commented on #3
Nice! Give https://github.com/techforwarren/septdebates a try, does that work for you?

[2019-08-07 13:10] Hucxley opened #6 "Who "owns" the techforwarren repo?"
We're working on the social media bots that will respond to requests for Sen. Warren's policy proposals, but we have it in a separate repo for now because I don't know who has permissions to create new repos in this org.

It wouldn't hurt to migrate it over so other people can contribute if they want, but it would be helpful to know who to coordinate with to make that happen.

Thanks, in advance,

[2019-08-07 22:48] kbavandi commented on #5
As a demo I curated tweets from different Democrats presidential candidates and here is [Warren's filter](https://www.kbucket.com/eontransform/progressives/tweet-library/progressive-tweets/?atag=Elizabeth+Warren). Every tweet she puts out (She has on average 10 a day) is a policy position. By curating and properly tagging all her tweets and Facebook posts, we can create a powerful Bot that will an

[2019-08-08 00:09] shaisachs commented on #6
Here you go! https://github.com/techforwarren/warrenbot

Let me know if there are any issues there.

[2019-08-08 00:22] Hucxley commented on #5
The Reddit bot is currently in manual mode while we test it and map the
policy keywords at https://reddit.com/r/WPBSandbox

On Wed, Aug 7, 2019, 6:48 PM Karan Bavandi <notifications@github.com> wrote:

[2019-08-08 00:33] Hucxley commented on #6
Can you change the name to WarrenPlanBot so we know that the bot is for
Warren's plans (in case we come up with some other bots)?

On Wed, Aug 7, 2019, 8:09 PM Shai Sachs <notifications@github.com> wrote:

[2019-08-08 01:02] shaisachs commented on #6
:donezo:

[2019-08-08 17:13] kbavandi commented on #5
Thanks, Hucxley. First have your tried DiagFlow. The platform is awsome and free and all the chat functionality is built-in (with voice activation). Additionally, whatever we program there will appear in Google Search which will scale even better.

An index into the content will really help design better and more informative conversations. I will create a Warren KBucket and add some of the Medium

[2019-08-08 22:06] jasonkalmeida commented on #1
Question (possibly for @shaisachs, not a blocker): In terms of the visual on the map, how should we deal with multiple events at the same location?

These generally have different dates, and these should be easily handled on the list view, but if a user hovers over a location pin that has multiple events would it be okay to have the info box just list all the events (with dates besides them)?

[2019-08-08 23:48] Hucxley commented on #5
I haven't tried DiagFlow, but I will when I get some spare time.

On Thu, Aug 8, 2019, 1:13 PM Karan Bavandi <notifications@github.com> wrote:

[2019-08-09 06:09] john-osullivan commented on #3
Perfect!  I've been doing some research on how to make the "including registering a domain name" part easy.  It looks like the easiest option would be Google Domains.

They've got this [neat little plugin](https://developers.google.com/domains/widget/) so the digital organizers could buy configured domains & create pages within the same UI.  Organizations have to apply to use it, they have a [sign

[2019-08-09 14:13] danielnarey commented on #2
Besides color palette, has anyone proposed any branding guidelines or suggestions for design elements to include in a logo/icon? (for volunteer affiliates in general if not for this contingent)

Looking at designs for fundraising merch on the campaign site, I am seeing bold, sans-serif, all-caps font; thick, horizontal bars of color; different foreground/background color combos; a cool banner/marq

[2019-08-09 15:52] john-osullivan commented on #3
Actually, I tried to push up late last night and got an authorization error -- could you please give me push access as well on these repos, @shaisachs ?  Thank you!

[2019-08-12 20:03] jasonkalmeida commented on #1
Hey all, just pushed a very basic v0.0.1 (😂) on my mvp branch. Had to figure out a lot of Open Street Map stuff (via Leaflet) for this, so that was fun.

As of now, the basic working functionality is this:

1) On load, the map shows a high level view of the US and a zip code query input box.

2) A user can query a zip code, and the map will display location markers near that zip code that are host

[2019-08-12 21:00] john-osullivan commented on #4
@shaisachs Still waiting on push permissions for [`policyboard`](https://github.com/techforwarren/policyboard) & [`septdebates`](https://github.com/techforwarren/septdebates)!  Got some initial commits for both of them, lemme know when you get a chance to give the perms out.

[2019-08-13 16:22] danielnarey commented on #2
I created two variations of a simple logo/icon design based on one of the campaign yard signs. Use it if you like it - suggestions welcome: https://github.com/danielnarey/techforwarren/tree/master/icon

[2019-08-14 18:40] kbavandi commented on #5
Ok Guys, check this out and let me know what you think. The branding on the page will go away and we should be able to just launch the bot (hopefully by next week).

These bots can be sent as mobile messages.

https://optimalaccess.com/ewarren/

[2019-08-14 19:18] Hucxley commented on #5
So, we have two people working like crazy to build bots for Warren's plans,
and them we have this division of work, again.

On one side, open source, community-built, on the other, opaque and
inaccessible by the rest of us in the community.

I know it must feel like I have nothing better to do than criticize your
efforts, but the two of us are working on a similar project, and it seems
to be poten

[2019-08-15 01:57] shaisachs commented on #6
Gonna close for now, certainly reopen if you need something else here.

[2019-08-15 01:57] #6 closed, assigned to nobody

[2019-08-15 02:00] shaisachs commented on #4
I think I see the problem - you were not a member of the `techforwarren` organization. Every member has write access to every repo by default. I just sent you an invite - once you accept, can you now write in to the repo?

[2019-08-15 02:05] shaisachs commented on #3
Hi there - I think the invite to `techforwarren` which I just sent you should resolve access.

[2019-08-15 02:06] shaisachs commented on #2
Ooooh nice! How about we put it to a vote on the community site?

[2019-08-15 02:15] shaisachs commented on #5
Hi there, I don't think we necessarily need to choose between one and the other. Or perhaps in emoji form, :whynotboth:?

It's also not entirely clear to me that the two bots are doing exactly the same thing - one appears to be a Reddit bot (perhaps one that could be expanded to other forums / Slack / etc.), and the other seems to be a standalone web app. They are certainly similar in format but s

[2019-08-15 02:19] shaisachs commented on #1
This is so cool, thank you so much!

At this point I think it makes sense to push your v.1 to master and make sure it gels with Github Pages. I figure I'll use the setting where builds are based off the master branch / docs folder, i.e. your index.html file will need to move into a `docs` folder and probably references to css / js will need to move around a little.

I also think we should start to

[2019-08-15 02:31] jasonkalmeida commented on #1
Hey @shaisachs,

Completely on board with getting the repo more organized and such so that others can contribute.

Currently on the road, but wanted to quickly comment on the getting GitHub pages set up. I actually am finishing up (should push tonight and will have feature parity with the current v0.1) converting the application to a React site that will use [react-gh-pages](https://github.com/git

[2019-08-15 02:34] john-osullivan commented on #4
U: Just got it!  Thanks so much

U: Tried inviting a friend to a different org and it hasn't gone through yet either, will give it some time and see what happens.

Hey, I wanted to give it some time to go through, but I haven't gotten any
invite yet -- was it definitely sent to @john-osullivan ?  Will update this
comment letting you know once I've got one!  Much appreciated.

On Wed, Aug 14, 2019

[2019-08-15 02:35] Hucxley commented on #5
The background is the other bot is from a company that introduced itself by
promoting their company's tool. Their platform is not just for Elizabeth
Warren, but is based on what they choose to aggregate into it's content
engine. It's not open source. None of us know what it's doing, what it's
tracking, or who is behind it. And they've resisted, time and time again,
to strip their bot of self-promo

[2019-08-15 02:58] shaisachs commented on #1
Oh nice. Works for me!

[2019-08-15 07:18] jasonkalmeida commented on #1
Just pushed a new branch `mvp-jason-react` that (as the name suggests) is a React version of the eventmap. It has the same features of v0.1 that I pushed a couple days ago.

Tomorrow morning I'll start bringing more organization & documentation to the repo, particularly breaking down work into issues so others can easily jump in and contribute. Apologies for the delay on this.

[2019-08-15 18:05] kbavandi commented on #5
First a respond to @Hucxley. We had one conversation, you stated your concern about me promoting my own tools, and I was clear then, as I was in my opening here that yes, these are my tools, I think that the Warren camp should be using them, and I also want the community to be aware of them.

I also asked you to not miss the forest for the trees. I am here because Warren's campaign resonates with

[2019-08-16 02:00] shaisachs commented on #5
Hi there - if we could, let's please dial back the temperature a little. We're a volunteer-run group with commensurate time and no actual budget to speak of - everyone here is giving of their time and enthusiasm, which is certainly appreciated.

You all are certainly free to work on whatever projects you see fit and which fit your skill levels, indeed that'd be the case even if the group didn't ex

[2019-08-16 02:15] Hucxley commented on #5
Thank you, and I agree. I also take responsibility for not letting things
go and minding my business a long time ago. While it's reasonable to be
passionate about what we're doing here, it is unacceptable to insert
toxicity into the group, which I've done.

So, I will dial it all the way back. I will try to learn from the other
members of the community, and since it was recommended to me to check

[2019-08-17 01:23] shaisachs commented on #5
Thanks so much, I really appreciate your participation so far. I know these things can sometimes be tricky, especially in early days. Even so the progress we've made so far with bots is amazing!

[2019-08-17 01:39] shaisachs commented on #1
Nice, sounds good! I've just merged that over to the master branch so we have a Github Pages site to play with. Nothing too exciting for now (https://techforwarren.github.io/eventmap/), but we're getting there!

[2019-08-18 21:37] egiurleo commented on #4
Hi, all! I'm a web developer and would love to help with this project. Can I also have an invite?

I think adding interactive widgets to each of the pages (like the debt calculator) would be a huge distinguishing factor and really cement these policies in voters' minds.

[2019-08-18 21:50] jasonkalmeida commented on #4
Hey @egiurleo! I think if you're already a member of the Tech Volunteers for Warren group, you should have permissions to push? Unless they're talking about another group, in which case I would need an invite too 😅

I really like your idea for interactive widgets on policy pages. Are there potentially standardized widgets that could be used across multiple policy issues (i.e. impact to yearly inco

[2019-08-19 12:29] shaisachs commented on #4
Hi @egiurleo - looks like you're already a member of the `techforwarren` organization, so you should have push/pull access to all our repos. Are you not seeing that?

[2019-08-19 21:51] kbavandi commented on #5
Thank you for all the honest dialog. I am working on twitter integration. Hope to share an example soon.

[2019-08-20 04:01] john-osullivan commented on #4
Hey @egiurleo , thanks for coming in to help out -- I'm excited to have more people on board!

I just pushed up a commit to [`policyboard`](https://github.com/techforwarren/policyboard) with:

(1) some initial codegen from [`create-react-blog`](https://github.com/jamesknelson/create-react-blog), and
(2)  the beginning of my [research gathering](https://github.com/techforwarren/policyboard/tree/mas

[2019-08-20 10:24] Hucxley commented on #4
@john-osullivan  if it will help, we have the 32 issues she has listed on her site right now on the WarrenPlanBot [repo](https://github.com/joegoldbeck/wpb-bot/blob/master/src/plans.json), and we have the ability to parse all of the medium plans (and other HTML) into [sets of keyphrases](https://github.com/joegoldbeck/wpb-bot/blob/master/src/synonym_keyphrase_candidates.json) of varying lengths (i

[2019-08-20 15:31] john-osullivan commented on #4
Thanks for sharing the link!  I'd been checking [WarrenPlanBot](https://github.com/techforwarren/WarrenPlanBot) to see when you'd start uploading y'all's source.  That synonym keyphrase thing is fascinating, how's that generated?

[2019-08-21 15:37] john-osullivan commented on #3
Hey -- took me a few days to sit down and put it together, but I've gathered most of the source material for this microsite!  The [repo's README](https://github.com/techforwarren/septdebates) has been updated with a rough prospective sketch and the content I'll be plugging in.  Going to try and get a first draft of the page out in the next couple days, shooting to have this ready to share by the e

[2019-08-22 08:12] jasonkalmeida commented on #1
Just pushed some updates to the React branch. Got a functional Event List that has links to the detailed events, and on hover highlights the location on the map. Obviously will need more design work, and there's still more to do functionally, but just wanted to update. Screenshot below.

![working_event_list](https://user-images.githubusercontent.com/5836378/63498008-e3983200-c479-11e9-9f97-945750

[2019-08-22 10:52] Hucxley commented on #1
This looks great.

From a marketing point of view, it would be really cool to see a
"time-lapse" style animation of the whole US map, adding each event 1 by 1
to show her grassroots network growing as each little pin pops up for
events according to the time they were created. You could hide the event
info list on the left, and show an advancing timestamp at the bottom of the
video advancing second

[2019-08-27 15:32] john-osullivan opened #7 "Do we need to do any org-wide Github Pages setup?"
Hi @shaisachs !  I've got a first draft of the [`septdebates`](https://github.com/techforwarren/septdebates) microsite up and running, mostly just testing out the templating and deploy to Github Pages.  I followed this [`react-gh-pages` guide](https://github.com/gitname/react-gh-pages) to try and set up deployments, but when I go to https://techforwarren.github.io/septdebates , there's nothing the

[2019-08-31 02:13] danielnarey opened #8 "Improve organization, housekeeping, communication of and about volunteer projects"
It’s great to see that a few projects are getting off the ground. I’ve been following the conversations on the Slack channel and the Warren Groups app. It appears to me that would-be tech volunteers fall into one of two types: people who know what they want to work on and are ready to jump right in, and people who are excited to contribute but don’t know where to start.

Beyond the onboarding proc

[2019-08-31 11:26] IsambardBrunel opened #9 "Medicare for All cost calculator"
I would like to see a M4A cost calculator site/app into which people can input some basic information about their circumstances and current plan and get an estimate of cost savings under M4A.

The site should be able to create a basic monthly cost calculation based on premiums and should also be able to generate some scenarios that explain common "what if" situations. What-ifs might include:

1. C

[2019-09-05 03:59] john-osullivan commented on #7
Just saw that another repo's page is working, so it must be something broken on mine -- closing!

[2019-09-05 03:59] #7 closed, assigned to nobody

[2019-09-12 06:06] john-osullivan commented on #8
Hey @danielnarey , I really like the idea of a centralized place for people to pick up work!  Think you hit the nail on the head with finding a balance between self-organizing while still making it easy for people to contribute.  Maybe we could work out some system where there's a set of org-wide project boards dedicated to different skillsets, and then developers on each repo could create issues

[2019-09-13 05:19] joegoldbeck commented on #4
Looks like the campaign made something like this happen! http://elizabethwarren.com/plans

I was about to run off and make a search backend to power things like this, so this saved me some time as well~

[2019-09-13 05:21] joegoldbeck commented on #2
@danielnarey your icons look dope!!

[2019-09-13 13:44] danielnarey commented on #8
@john-osullivan - I like all of these ideas. A place to start seems to be to work on syncing up communication across the three forums that have been established - Slack, GitHub, and the Warren app. It appears that Slack has been the most active forum in recent weeks, but moving certain conversations (re: rough ideas, for example) to GitHub issues would help to track progress and delineate tasks. A

[2019-09-13 15:06] danielnarey commented on #8
Here’s my proposal:

Let’s keep this repo (**idea-board**) as the gateway for tech volunteers seeking projects and continue to use the issues to collect proposals. But let’s also update the README to provide some orientation for newcomers as to which projects are completed, which are in active development, and which are embryonic and could use more input, etc. The README would be the centralized l

[2019-09-13 16:05] #2 closed, assigned to danielnarey

[2019-09-13 16:49] joegoldbeck commented on #1
@john-osullivan @jasonkalmeida from looking at the repo, it appears you two are taking the lead on this. Is that right?

If so, I'm thinking we should assign the issue to you as a way to keep track of who's carrying the torch!

[2019-09-15 01:32] jasonkalmeida commented on #1
@joegoldbeck - you're right, I went ahead and assigned it to myself. Thanks for pointing it out!

@shaisachs - I don't think I have access to the settings panel of the repo. I've gone ahead and created a production branch under a `gh-pages` branch. If you could just change the Github Pages settings to use that branch (instead of what I'm assuming is currently master) we should be able to see the s

[2019-09-15 18:08] joegoldbeck commented on #8
This sounds good. One thing I think we should call out (in both GitHub issues and in the readme) is whether projects / proposals are coming from the campaign or from volunteers! Both are great, but it's good to know which is which!

[2019-09-16 01:11] joegoldbeck commented on #8
Another small note: I'd love to see `Ongoing Support` -> `In Production`. Much more exciting / achievement-oriented that way :D  We could even have `In Production (Active Development)` and `In Production (Ongoing Support)` if we find that distinction meaningful!

Thinking about the categories, I suppose I would put the bot in the ongoing support category, in that I don't have plans to pour lots of

[2019-09-16 01:17] joegoldbeck commented on #3
@john-osullivan are you or anyone else charging ahead with this right now, or is this project somewhat up for grabs at the moment?

I'd love to see us get momentum on this and a team around it, with the goal of getting an MVP out the door in the near term, especially since this is a direct ask from the campaign :D

[2019-09-16 14:04] #5 closed, assigned to nobody

[2019-09-16 14:05] joegoldbeck opened #10 "Reddit Bot to Engage Users on Warren's Plans"

[2019-09-17 00:38] shaisachs commented on #9
That is an awesome idea! Do you know if someone has already done some of the math on this? It could work out really nicely in concert with the microsites project, which (hopefully) will have stuff like a signup form built-in.

[2019-09-17 00:43] shaisachs commented on #1
Hi there - looks like we're all set with the event map! I'm going to go ahead and close this issue so that we can proceed with future incremental improvements in the [Event map issues list](https://github.com/techforwarren/eventmap/issues). Let me know if we need to reopen though!

[2019-09-17 00:48] shaisachs commented on #1
Ok looks like I goofed up there - will reopen!

[2019-09-17 00:50] IsambardBrunel commented on #9
I suspect that the math would involve piecing some data together from the Medicare for All bill, the IRS and possibly some study of the plans on the healthcare.gov site. This would not be trivial but it could be enjoyable research.

[2019-09-17 03:20] danielnarey commented on #3
@john-osullivan Can you give us an update on what you’d like to do with the **septdebates** repo since the debate has happened already? Is this still something you’re working on, and should we rename the repo?

@joegoldbeck @shaisachs

[2019-09-17 03:30] danielnarey commented on #4
@john-osullivan This seems like a large project. Would like to check in on where you’re at with it and how we can help to hone it down to a MVP that we can prototype.

@joegoldbeck @shaisachs

[2019-09-17 03:48] danielnarey commented on #9
Thanks for sharing your proposal @IsambardBrunel . Since this is a project that requires detailed (and complex) policy analysis, we would need someone to take on that policy analysis and write up some kind of brief that could be reviewed by other policy experts before we could consider building any tech around it. There are some other projects in the works like [policyboard](https://github.com/tec

[2019-09-18 02:40] shaisachs commented on #3
I should mention, this was sort of my idea- to put together a sample
microsite that we could templatize and then parlay into a generator. I
don't think it's a bad idea altogether, and we could certainly refocus on
October debates. But certainly happy to hear other approaches/ideas.

On Mon, Sep 16, 2019, 11:20 PM Daniel Narey <notifications@github.com>
wrote:

[2019-09-18 03:26] danielnarey commented on #3
@shaisachs Yes, I got that from the thread. It might make sense to split this into two projects since @chrisabrams has told us that he has a prototype for a generator that is almost ready for public consumption. Let’s see if we can work with @john-osullivan on redefining the goal of the repository that he started - for example, developing the content and UI for now instead of worrying about implem

[2019-09-19 03:28] joegoldbeck opened #11 "Volunteer Management CRM"

[2019-09-19 03:30] joegoldbeck opened #12 "Volunteer Management CRM"
CRM to cover volunteer groups that don't have existing campaign-supported volunteer management tools

[2019-09-20 00:57] #9 closed, assigned to nobody

[2019-09-25 01:47] egiurleo commented on #12
Could you give some examples of the kind of user stories this would solve? I don't have a great sense of the needs of these groups. Also, are you envisioning a web app, or maybe something cross-platform? :)

[2019-09-25 02:28] egiurleo commented on #12
(Alternatively, would love to be connected to volunteers or coordinators experiencing these issues so I can hear about their problems first hand!)

[2019-09-27 02:24] danielnarey opened #13 "Digital Assistant Skills"
Campaign is planning on doing audio recordings of EWs plans and would like to make those available as Alexa/Google Home skills so you can ask your digital assistant to tell you her latest plan, or ask for details about a specific plan.

There has been some discussion about possible frameworks and ability to share code with the Plan Bot project, but we will need one or two people to spearhead this

[2019-09-28 11:20] inbetweenbinary commented on #12
Which groups don't have access to those campaign tools?

[2019-09-28 11:21] inbetweenbinary commented on #10
I'm very interested in helping with this project! I have UX research experience working with users on voice and chat experiences, so I could help with some of the response logic and the ways questions are asked/responded to.

[2019-09-28 18:47] shaisachs commented on #12
To my understanding, local grassroots groups ("Springfield for Warren" for
ex) don't have access to the tools staff use. But some of these groups are
big enough that they need something.

Emily- I think the basic use cases are keeping track of contact
information, turning people out to events, and maybe phone banking
volunteers. Does that make sense?

On Sat, Sep 28, 2019, 7:20 AM Adam <notificati

[2019-09-28 18:47] joegoldbeck commented on #10
Hey @inbetweenbinary curious for your thoughts! Sent you a PM :D

[2019-09-28 19:47] egiurleo commented on #12
@shaisachs Yes that makes total sense!

[2019-09-29 01:26] danielnarey commented on #12
Moving conversation off of public forum until project scope and technical requirements are decided.

[2019-09-29 01:26] #12 closed, assigned to nobody

[2019-10-08 17:16] amandablum commented on #8
Hey folx. Sounds like there's a call for a PM board. (I love gh, but its not a spectacular pm tool). any argument against?

[2019-10-09 00:51] danielnarey commented on #8
Open to any and all ideas in this regard 😁 - We’ve implemented the changes I had suggested above but have been trying to clarify what the next steps are in making it easier for people to become active contributors.

[2019-10-15 02:47] john-osullivan commented on #4
Hey all!  Finally have a little more spare time to hop in here.

Once I saw that the campaign page had implemented the core of this idea, I decided to think through what new stuff we could add.  The part of this which got me and others excited was the interactive visualizations, calculators, things like that.  I'm thinking that I'm going to rescope this project to be a collection of those for diff

[2019-10-15 02:54] danielnarey commented on #4
@john-osullivan Cool, sounds like a good direction for this project. I think a number of people would be interested in contributing to this if you can give them a place to start, or an example to emulate - that seems to be the hurdle for a lot of our project ideas!

[2019-10-16 10:03] shaisachs opened #14 "Voter Info Project"
The idea is to create a website or widget to help voters find the information they need to vote/caucus in the primaries.

We can take this idea in stages, as follows:

1. When do I vote?
At this stage, we basically take a [primary election calendar](https://www.vox.com/2019/6/26/18693259/2020-presidential-election-calendar-primaries) and put a simple skin on it. For ex., prompt users for the state

[2019-10-16 10:14] shaisachs opened #15 "Pledge to vote game"
My basic concept here is to mash up the campaign's pledge to vote form (e.g. https://elizabethwarren.com/pledge/new-hampshire?source=web-join-us-nh) with a walk-a-thon type page. Here's the basic idea of how this would work:

- As a Warren supporter I create a "Why I support Warren" page with maybe my picture, a paragraph or two of text, and my vote pledge goal ("My goal is to get 25 pledges to vo

[2019-10-16 10:22] shaisachs commented on #4
Nice, that is awesome! Should we break ground on a new repo, or too early for that? What's a good first visualization to tackle?

[2019-10-16 10:31] Hucxley commented on #14
At this stage, we prompt the user for an address and then make a request to Google Civic API, or something similar, to get polling place information.

If someone is already registered to vote (stage 0), you can also have them check their voter registration card for their state, county, & precinct, and use that to locate where to go vote.  People are protective of information that may be sold and h

[2019-10-16 13:04] danielnarey commented on #4
@shaisachs John has maintainer status on the policyboard repo, so he can go ahead and rename the project, etc. when he is ready.

[2019-10-17 00:24] shaisachs commented on #14
Sure, the goal isn't necessarily to aim at super-duper-engaged people - the hope is to make things easier for people who don't necessarily know where to look.

There's certainly data privacy concerns, which is why I sort of put that stuff toward the end. But it can certainly be optional (to a point - for polling place lookup you really need an exact street address.).

[2019-10-22 00:32] allenjhyang commented on #14
This sounds like a cool idea - relatively straightforward (especially if the APIs are there) and clear purpose. Was wondering what you were thinking in terms of distributing this website / widget, ie getting it in front of people who could be most influential to get in front of?

(Have you already pulled together plans on how to build this? I think a quick no-code tool like Bubble or Webflow might

[2019-10-24 15:31] danielnarey commented on #4
@john-osullivan Take a look at the data and charts here as a possible starting point: https://usafacts.org/reports/facts-in-focus/democratic-primary-debate-october-2019

[2019-12-27 10:41] joemcl commented on #12
So what's the status of this? Assuming the convo has been continued in a Slack channel.

[2019-12-28 01:26] danielnarey commented on #12
@joemcl - This project did not move forward for various reasons. I would recommend following up with @joegoldbeck if you have related ideas.